.preloader-full {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, .3);
}

.preloader-full__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 80px;
  margin-top: -52px;
  margin-left: -40px;
  animation: preloaderFullRotate 1s infinite linear;
}

@keyframes preloaderFullRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
